@font-face {
    font-family: 'Codec Pro';
    src: url('CodecPro-Regular.woff2') format('woff2'),
        url('CodecPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Pro';
    src: url('CodecPro-Bold.woff2') format('woff2'),
        url('CodecPro-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

