
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

  @font-face {
    font-family: "Codec Pro";
    src:
      url("/fonts/codec-pro/CodecPro-Regular.woff2") format("woff2"),
      url("/fonts/codec-pro/CodecPro-Regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  .font-codec {
    font-family: "Codec Pro", sans-serif;
  }

  .font-lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }