---
import ProjectCard from "../components/ProjectCard.astro";

import cucii from "../../../assets/img/clients/cucii.png";
import labstudiomedia from "../../../assets/img/clients/labstudiomedia.png";
import cocinasmodulares from "../../../assets/img/clients/cocinasmodulares.png";
import cybercafe10m from "../../../assets/img/clients/cybercafe10m.png";
import { allProjects } from "../../../data/allProjects";
---

<div
  id="recent-projects"
  class="flex flex-col items-center justify-center mt-72 max-[660px]:mt-30"
>
  <h1
    class="pt-1 text-6xl text-center rubik max-[800px]:text-5xl max-[660px]:text-4xl max-[382px]:text-3xl animate__animated animate__fast animate-on-view max-[460px]:px-4"
    data-aov-animation="animate__zoomIn"
  >
    Proyectos
  </h1>

  <div class="pt-8 flex items-center justify-center w-full">
    <div
      class="w-[1180px] flex items-center justify-center flex-wrap gap-8
    max-[1225px]:w-[780px] max-[820px]:w-[580px] max-[820px]:justify-center max-[660px]:w-full"
    >
      {
        allProjects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.shortDescription}
            image={project.image}
            link={project.liveLink}
          />
        ))
      }
    </div>
  </div>
</div>

<script>
  const allCards = document.querySelectorAll(".card-project");

  allCards.forEach((card) => {
    const img = card.children[0] as HTMLImageElement;
    const btn = card.children[1].children[2];

    btn.addEventListener("mouseover", () => {
      img.style.filter = "grayscale(0) contrast(100%)";
    });

    btn.addEventListener("mouseout", () => {
      img.style.filter = "grayscale(100%) contrast(80%)";
    });
  });
</script>
