---
import Layout from "../layouts/Layout.astro";
import NavBar from "../views/shared/NavBar.astro";
import Intro from "../views/home/sections/Intro.astro";
import RecentProjects from "../views/home/sections/RecentProjects.astro";
import Contact from "../views/home/sections/Contact.astro";
---

<Layout
  title="Manuel Samaniego | Full-stack Developer"
  metaTitle="Manuel Samaniego - Full-stack Developer Portafolio"
  description="Soy un desarrollador web especializado en aplicaciones a medida y sitios web para pymes. Diseño responsive, rendimiento óptimo y mantenimiento continuo."
  keywords="full-stack developer, web development, software engineer, angular, node.js, javascript, portfolio, web developer, software developer, freelancer, landing pages, desarrollo web, desarrollador freelance, sitios web para negocios, páginas web personalizadas, diseño web, desarrollador web México, programación a medida, soluciones digitales, desarrollo para pymes, diseño responsivo, frontend developer, backend developer, mantenimiento web, contacta desarrollador web, desarrollo web freelance, programador web"
>
  <NavBar />
  <main class="relative z-10 flex justify-center flex-col items-center">
    <Intro />
    <RecentProjects />
    <Contact />
  </main>
</Layout>
