---
import EntryDot from "../components/home/EntryDot.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/home/NavBar.astro";
import Intro from "../components/home/Intro.astro";
---

<Layout>
  <!-- <EntryDot /> -->

  <NavBar />
  <main class="relative z-10 flex justify-center flex-col items-center">

    <Intro />

  </main>
</Layout>
