---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/home/NavBar.astro";
import Intro from "../components/home/Intro.astro";
import RecentProyects from "../components/home/Recent-proyects.astro";
---

<Layout
  title="Manuel Samaniego | Full-stack Developer"
  metaTitle="Manuel Samaniego - Full-stack Developer Portfolio"
  description="Portfolio website of Manuel Samaniego, a Full-stack Developer specializing in web development and software engineering."
  keywords="full-stack developer, web development, software engineer, react, node.js, javascript"
>

  <NavBar />
  <main class="relative z-10 flex justify-center flex-col items-center">

    <Intro />
    <RecentProyects />

  </main>
</Layout>
