---

---

<!-- Fill screen dot reveal -->
<div
  class="z-0 dot-container fixed top-0 left-0 w-full h-full flex justify-center"
>
  <div
    class="entry-dot w-[180px] h-[180px] rounded-full bg-[#f1f2f5] relative -top-[200px]"
  >
  </div>
</div>

<style>
  @keyframes entryDot {
    to {
      top: 55svh;
    }
  }

  @keyframes entryDotScale {
    to {
      transform: scale(12);
    }
  }

  .dot-container {
    animation: entryDot 1s 0s;
    animation-fill-mode: forwards;
  }

  .entry-dot {
    animation: entryDotScale 2s 1s;
    animation-fill-mode: forwards;
  }
</style>
