---


---


<nav class="relative z-10 flex justify-around py-8 mx-16 max-lg:justify-center max-lg:gap-0 max-md:mx-0">
  <div class="max-lg:hidden"></div>
  <div class="ms-auto max-lg:ms-0 flex items-center justify-between rubik text-xl gap-6 max-[660px]:text-lg max-[660px]:gap-3 max-[382px]:text-base">
    <button class="animate__animated animate__zoomIn animate__fast lb active cursor-pointer px-4 py-1 rounded-xl hover:text-[#2d5d54] transition-colors duration-300 border-2 border-solid border-transparent max-[382px]:px-2 max-[382px]:py-0.5">Inicio</button>
    <button class="animate__animated animate__zoomIn animate__delay-1s animate__fast lb cursor-pointer px-4 py-1 rounded-xl hover:text-[#2d5d54] transition-colors duration-300 border-2 border-solid border-transparent max-[382px]:px-2 max-[382px]:py-0.5">Proyectos</button>
    <button class="animate__animated animate__zoomIn animate__delay-2s animate__fast lb cursor-pointer px-4 py-1 rounded-xl hover:text-[#2d5d54] transition-colors duration-300 border-2 border-solid border-transparent max-[382px]:px-2 max-[382px]:py-0.5">Blog</button>
  </div>
</nav>

<script>

  const links: NodeListOf<HTMLButtonElement> = document.querySelectorAll('.lb');

  links.forEach(link => {
    link.addEventListener('click', () => {
      links.forEach(l => l.classList.remove('active'));
      link.classList.add('active');
    });
  });

</script>


<style>
  .lb.active {
    border-color: #2d5d54;
    color: #2d5d54;
  }
</style>

